<div id="about-content">
	<table>
		<tr>
			<td width="50%">
				<div class="left" id="jacob-bio-column">
					<p>
						Jacob Norris was born with all of the fanfare necessary for a young man coming into the world, of course with the barn door open. Bald until he was three and raised in a cute home at the end of a dirt road, he dutifully explored the wilderness of his yard at a young age. He attributes this need to explore to his time with Sonic the Hedgehog on the Sega Genesis. Those stories would carry over to his adventures in his world of imagination.
					</p>

					<br/>
					
					<p>
						A total ham, Jake was the center of the party from a young age, often driving the organization of games and fun. His curiosity and natural hunger for knowledge lead him to win many awards in elementary school. A total jock in his young age Jake achieved at least a blue belt in tang so doo and was a star player on his youth league soccer team (though he eventually quit soccer because he felt bad for his opponents when they lost).
					</p>
					
					<br/>
					
					<p>
						Jake’s partner in crime, his cousin Jon, dutifully echoed his adventurous spirit. The two spend many a day masterfully building intricate forts for them to fill with snacks and GameBoys or books and pass the time. As they grew into teenagers they would often gather to pwn n00bs online. Naturally brother-like, the two carry a strong bond even today.
					</p>

					<br/>
					
					<p>
						Jake acquired a love for paintball with his friends Josh and Trent in late middle school. He clearly remembers his first adventure playing woods ball, walking into the woods with the cheapest marker he could find, sneaking around trying not to get hit, but overall having a blast. His enjoyment escalated to his year on the Northern California Paintball League team, Disavowed. Now he drags everyone who shows remote interest in paintball into the sport, passionately showing newcomers a good time. He also actively follows PSP Professional Paintball league. Go Dynasty!
					</p>

					<br/>
					
					<p>
						Today, Jake works at Hewlett Packard in sunny San Diego – working primarily writing code for the Instant Ink project. When he isn’t exploring craft breweries or San Diego sites, he still finds time to pwn n00bs with Jon, plays paintball, attends concerts, and occasionally even scoots his boots at InCahoots.
					</p>
				</div>
			</td>
			<td width="50%">
				<div class="right" id="megan-bio-column">
					<p>
						Megan Cravens graced our world with her presence just one day shy of St. Patty's Day. Her birth nearly doubled the population of the cozy, one-stoplight town of Burney, CA, and since then she has never stopped changing the world around her for the better. Her rebellious streak started in preschool, where she was almost expelled for refusing to take naps on The Man's schedule. Like most girls who grew up in the 90's, she maintained an impressive collection of Barbie and Trolls dolls, played little league tee ball, and still owns the entire Disney movie collection on VHS.
					</p>
					
					<br/>
					
					<p>
						Megan always had a very active imagination, and a knack for storytelling. In the time before she discovered she could write things down, she would tell stories to anyone that would listen. And once she did start writing, she never stopped, keeping a collection of the poems and short stories that now serve as landmarks of her journey through the world all the way up to today. She has always loved to create, and she has a non-ironic love of the vintage and the classic. She can often be seen choosing a typewriter over a word-processor, and she has scrapbooks from back before Pinterest was even a thing. Her love of design and media grew from this at an early age as well, when she received her first computer, a state-of-the-art Windows 2000 powerhouse where she brought ideas to life in PrintShop Deluxe.
					</p>
					
					<br/>
					
					<p>
						Her competitive streak and love of the outdoors led to many athletic pursuits, including many years of basketball, track and field, and keeping those pesky soccer balls out of her goal. She also enjoyed visiting the many natural attractions of the great state of Jefferson. As a young girl, she would often borrow her Dad's tools and build forts and structures in the manzanita bushes near her home. Later on, most of her summers were spent on the lake, on a tiny inflatable tube being dragged much too fast behind the family speedboat. Come winter, she would be carving the pristine slopes of Mount Shasta on her snowboard.
					</p>
					
					<br/>
					
					<p>
						Nowadays, Megan brings ideas to life professionally as well as in her spare time. She is a marketing professional for Rhino Linings, the truck-bed-liner company who she insists does so much more than just bedliners. She pairs her small-batch, fine whiskys with small-batch, fine craft beers, often cruises the local yard sales, and keeps an eye out for the next big adventure. She also paintballs (because the best relationships are forged in the fire of battle), she is convinced that paintball is a real professional sport, and of course she cannot like the same pro team as Jake, because what would be the fun in that? Go Red Legion!
					</p>
				</div>
			</td>
		</tr>
	</table>

	<div class="center" id="combined-bio-column">
		<p>
			Jake and Megan have a relationship built over years of change. High school and college are not easy years to live through, let alone carry a relationship. They believe in falling in love over and over again with the same person. From the start their connection was natural – they have a lot in common, but remain different enough that they never run out of things to talk about. They both challenge each other to try new activities and excel at old ones, and they make time to swap hobbies.
		</p>
		
		<br/>
		
		<p>
			As football season draws near, they prepare their fantasy teams, and stock up on Seahawks or Steelers gear. They can often be found sloshing down pints and cheering on their players at Callahan’s, their local brewpub. They enjoy traveling and can often be found in some unexpected city, trying the local lifestyle, drinking beer or coffee and eating everything good. Even their professional lives mesh well, as their skills complement each other’s to create a great design and implementation powerhouse.
		</p>
		
		<br/>

		<p>
			Being only children, they have adopted their closest friends as family, and they credit this family with helping them navigate this crazy world with style and ease. They are always connecting with their friends around the globe for a night out, some online games, complicated board games or just a few hours of discourse over a good meal.
		</p>
	</div>
</div>