// Place all the styles related to the About controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#about-content {
	padding: 25px 0;
}

.left {
	padding: 0 15px;

	p {
		text-align: justify;
	}
}

.right {
	padding: 0 15px;

	p {
		text-align: justify;
	}
}

.center {
	padding-top: 35px;
	width: 60%;
	margin-left: auto;
	margin-right: auto;

	p {
		text-align: justify;
	}
}

#jake-name-header, #meg-name-header {
	font-size: 30px;
}

#jake-image, #meg-image, #both-image {
	border: 5px solid #0CBEEA;
	margin-bottom: 20px;
}

td {
	vertical-align: top;
	text-align: center;
}