<div class="knot-item-page">
	<%= image_tag 'knot_item_pages/' + get_image(@circle_number), :id => "knot-item-main-image" %>
	
	<h1 id="header-text"><%= get_header_text(@circle_number) %></h1>

	<h2 id="body-headline-text"><%= get_body_headline_text(@circle_number) %></h2>
</div>